---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import NosotrosSection from '../components/NosotrosSection.astro';
import GaleriaSection from '../components/GaleriaSection.astro';
import SocialMediaSection from '../components/SocialMediaSection.astro';
import Footer from '../components/Footer.astro';
import GaleriaModal from '../components/GaleriaModal.astro';
import MapaUbicacion from '../components/MapaUbicacion.astro';
---

<Layout>
  <div class="flex flex-col min-h-screen md:h-screen">
    <Header />
    <main class="flex-1 min-h-0 flex flex-col md:flex-row">
      <NosotrosSection />
      <GaleriaSection />
      <SocialMediaSection />
    </main>
    <MapaUbicacion />
    <Footer />
  </div>
  <GaleriaModal />
</Layout>
