---
---

<footer class="flex-shrink-0 w-full border-t border-[#EAE5D9]/10 bg-[#121212] flex flex-col md:flex-row justify-between items-center px-8 md:px-12 py-3 md:h-14 gap-1 md:gap-0">
  <div class="text-[#EAE5D9] font-serif font-black uppercase text-base tracking-widest">Youlex</div>

  <div class="text-stone-500 text-[10px] tracking-widest uppercase">
    &copy; 2024 Youlex Barbería. Tradición y Precisión.
  </div>
</footer>
